body{
    background-color: #212121 !important;
    background-image: url("double-bubble-dark.png");
}

a{
    color:#ddd;
    text-decoration: none;
    transition: all .35s ease-out;
    &:hover{
        color:#fff
    }
}
.main-title{
    color:#eee;
    font-size: 38px;
}
.overlay{
    position: absolute;
    background-image: radial-gradient(farthest-corner, #226cbcaa 0%, transparent 100%);
    background-image: radial-gradient(closest-side, #2064aeee 80%, transparent 160%);
    background-image: radial-gradient(farthest-corner, #2064aedd 60%, #254764dd 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.35s cubic-bezier(0.5, -0.01, 1, 0.65);
    transition: opacity 0.35s cubic-bezier(0.5, -0.01, 1, 0.65);
    padding:0;
    .card-title{
        padding: 15px;
    text-align: center;
    color: #f5f5f5;
    font-family: "segoe ui", arial, sans-serif;
    top: 100%;
    position: absolute;
    width: 100%;
    height: 20%;
    -webkit-transition: all 0.35s cubic-bezier(0.5, -0.01, 1, 0.65);
    transition: all 0.35s cubic-bezier(0.5, -0.01, 1, 0.65);
    }
    .card-text{
        margin-top: 10px;
        font-size: 16px;
        opacity: .8;
    }
    &:hover{
        opacity: 1;
    text-shadow: 0px 0px 60px #000;
    & .card-title{
        top: 40%;
    }
    }
}
.sideBar{
    background-color: #525252;
    color:#eee;
    padding:10px;
    a{
        color:#eee;
        font-weight: bold;
        &:hover{
            text-decoration: none;
            color:rgb(30, 154, 255)
        }
    }
}
.seatsList{
    h2{
        background-color: #525252;
    font-size: calc(1.5vw + 16px);
    color: #eee;
    }
    .allSeats{
        margin-top: 40px;
        display: flex;
        padding:0px;
        color: #eee !important;
        @media screen and (min-width:992px) {
            padding:50px;
        }
        .leftSeats,.rightSeats{
            border:1px solid #eee;
            border-radius: 10px;
            padding:10px;
            display: flex;
            flex-wrap: wrap;
            margin:20px;
            justify-content: center;
            
            @media screen and (min-width:992px) {
                padding:30px;
            }
            .seats{
                width: 35px;
                cursor: pointer;
                margin-bottom: 10px;
                background-color: hotpink;
                color: antiquewhite;
                border-radius: 10px;
                padding: 10px 0px;
                margin: 10px;
                text-align: center;
            }
        }
    }
}


.clientsInfo{
    form{
        width: 75%;
        @media screen and (min-width:992px){
            width: 25%;
        }
    }
}
